.container{
    margin-top: 2vh;
    height: auto;
    min-height: auto;
    width: 75vw;
    background-color: var(--blue2);
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
}


.upper-data{
    position:relative;
    display: flex;
    overflow: hidden;
    width: 100%;
    height: auto;
    border-radius: 6px;
}

.lower-data{
    position: relative;
    overflow: scroll;
    padding: 2vw;
    width: 100%;
    height: auto;
    display: flex;
}

.bg-img {
    position: absolute;
    top: -26vmax;
    left: -50vmax;
    width: 140vmax;
    filter: brightness(0.6);
}  

.meteo-data{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-size:x-large;
}

.location {
    text-align: center;
    font-size: 1.2em;
}

.temp{
    text-align: center;
    font-size: 1.6em;
    font-weight: 900;
}

.info-label{
    color:beige;
    font-size: large;
    font-weight: 500;
}

.infos-block{
    width: 50%;
    display: flex;
    flex-direction: row;
}

.infos-block-label{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.infos-block-label img {
    width: 2em;
}

.infos-block-label span {
    color: whitesmoke;
    display: flex;
}

.info-value, .info-direction{
    font-weight: 700;
}

.info-direction, .info-block-2 .info-value, .vent{
    padding-left: 10vw;
    text-align:left;
}

.vent{
    padding-left: 13vw;
}

.fa-solid, .fa-regular{
    font-size: 20px;
}
.fa-wind{
    font-size: 16px;
}

.row{
    align-items: center;
    text-align: center;
}

.break-line, .break-line-2{
    display: none;
}

.bg-red{
    background-color: var(--red);
}
.bg-blue-transparent{
    background-color: var(--blue2transparent);
}

@media (max-width: 777px) {
    .bg-img {
        left: -70vmax;
        width: 150vmax;
    }
    .break-line-2{
        display: block;
    }
}
@media (max-width: 530px) {
    .break-line{
        display: block;
    }

    h3{
        font-size: 5vw;
    }
    .meteo-data{
        font-size: 5vw;
    }
    .location{
        font-size: 4vw;
    }
    .temp{
        font-size: 5vw;
    }
}
