
.container{
    margin-top: 2vh;
    height: 60vmax;
    width: 75vw;
    background-color: var(--blue2);
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
}


.upper-data{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 50%;
}

.lower-data{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
}

.bg-img {
    position: absolute;
    top: -26vmax;
    left: -50vmax;
    width: 130vmax;
    filter: brightness(0.5);
}  

.meteo-data{
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size:large;
    overflow-x: scroll;
}

.location {
    text-align: center;
    font-size: 1.2em;
}

.temp{
    text-align: center;
    font-size: 2em;
    font-weight: 900;
}

.more-infos-label{
    color: beige;
}

.more-infos-container{
    flex: 1;
    background-color: var(--blue2);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.infos-block{
    width: 50%;
    display: flex;
    flex-direction: row;
}

.infos-block-label{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.infos-block-label img {
    width: 2em;
}

.infos-block-label span {
    color: whitesmoke;
    font-size: .8em;
    display: flex;
}

.infos-block-value{
    margin-left: 60px;
    width: 500px;
    display: block;
    justify-content: flex-start;
    align-items: center;
    color: whitesmoke;
}

.fa-solid, .fa-regular{
    font-size: 30px;
}
@media (max-width: 730px) {
    .bg-img {
        left: -70vmax;
    }
}
