<div *ngIf="dailyForecast" class="container">
    <div class="upper-data">
        <img src="../assets/cold.jpeg" alt="cold" />
        <img src="../assets/sun.jpeg" alt="sun" />
        <div class="meteo-data">
            <div class="location"></div>
            <div class="temp">°C</div>
        </div>
    </div>
    <div class="lower-data">
        <label>day :</label>
        <span>{{ formatDate(dates[dayIndex]) }}</span>
        <div class="more-infos-label">More informations</div>
        <div class="more-infos-container">
            <div class="infos-block">
                <div class="infos-block-label">
                    <span>min</span>
                </div>
                <div class="infos-block-value">{{sevenWeatherTempMin[dayIndex]}} °C</div>
            </div>
            <div class="infos-block">
                <div class="infos-block-label">
                    <span>max</span>
                </div>
                <div class="infos-block-value">{{sevenWeatherTempMax[dayIndex]}} °C</div>
            </div>
            <div class="infos-block">
                <div class="infos-block-label">
                    <img src="../assets/humidity.png" alt="" />
                    <span>Humidite</span>
                </div>
                <div class="infos-block-value"> %</div>
            </div>
            <div class="infos-block">
                <div class="infos-block-label">
                    <img src="../assets/vent.jpeg" alt="" />
                    <i class="fa-solid fa-wind"></i>
                    <i class="fa-solid fa-arrow-down-long"></i>
                    <p>wind direction at 10m: {{ winddirection_10m[dayIndex] }}
                        <span *ngIf="winddirection_10m[dayIndex] >= 0 && winddirection_10m[dayIndex] < 90">Nord</span>
                        <span *ngIf="winddirection_10m[dayIndex] >= 90 && winddirection_10m[dayIndex] < 180">Est</span>
                        <span *ngIf="winddirection_10m[dayIndex] >= 180 && winddirection_10m[dayIndex] < 270">Sud</span>
                        <span *ngIf="winddirection_10m[dayIndex] >= 270 && winddirection_10m[dayIndex] < 360">Ouest</span>
                    </p>
                    
                    <!-- afficher la valeur direction du vent de 0 a 360 -->
                    <!-- afficher nord/sud/est/ouest ou nord/nord est (précision que tu veux) -->
                    <!-- afficher une fleche avec selected-day.component.scss -->
                    <span>Vent</span>
                </div>
                <div class="infos-block-value"></div>
            </div>
        </div>
    </div>
</div>