<div *ngIf="dailyForecast" class="container">
    <div class="upper-data">
        <img src="../assets/alain.png" alt="background image" />
        <div class="meteo-data">
            <div *ngIf="currentLocation && !chosenPlace" class="location">{{ currentLocation.display_name}}
            </div>
            <div *ngIf="chosenPlace" class="location">{{chosenPlace.display_name}}
            </div>
            <div class="temp">{{sevenWeatherTempMin[dayIndex]}}°C - </div>
            <div class="temp">{{sevenWeatherTempMax[dayIndex]}}°C - </div>
        </div>
    </div>
    <div class="lower-data">
        <label>day :</label>
        <span>{{ formatDate(dates[dayIndex]) }}</span>
        <div class="more-infos-label">More informations</div>
        <div class="more-infos-container">
            <div class="infos-block">
                <div class="infos-block-label">
                    <span>min</span>
                </div>
                <div class="infos-block-value">{{sevenWeatherTempMin[dayIndex]}} °C</div>
            </div>
            <div class="infos-block">
                <div class="infos-block-label">
                    <span>max</span>
                </div>
                <div class="infos-block-value">{{sevenWeatherTempMax[dayIndex]}} °C</div>
            </div>
            <div class="infos-block">
                <div class="infos-block-label">
                    <img src="../assets/humidity.png" alt="" />
                    <span>Humidite</span>
                </div>
                <div class="infos-block-value"> %</div>
            </div>
            <div class="infos-block">
                <div class="infos-block-label">

                    <i class="fa-solid fa-wind" font-size="500px "></i>
                    <i class="fa-solid fa-arrow-down-long wind-arrow"
                        [ngStyle]="{'transform': 'rotate(' + winddirection_10m[dayIndex] + 'deg)'}"></i>
                    <p>wind direction at 10m: {{ winddirection_10m[dayIndex] }}
                        <span *ngIf="winddirection_10m[dayIndex] >= 0 && winddirection_10m[dayIndex] < 45">Nord ->
                            Sud</span>
                        <span *ngIf="winddirection_10m[dayIndex] >= 45 && winddirection_10m[dayIndex] < 135">Est ->
                            Ouest</span>
                        <span *ngIf="winddirection_10m[dayIndex] >= 135 && winddirection_10m[dayIndex] < 225">Sud ->
                            Nord</span>
                        <span *ngIf="winddirection_10m[dayIndex] >= 225 && winddirection_10m[dayIndex] < 315">Ouest ->
                            Est</span>
                        <span *ngIf="winddirection_10m[dayIndex] >= 315 && winddirection_10m[dayIndex] < 360">Nord ->
                            Sud</span>
                    </p>

                    <!-- afficher la valeur direction du vent de 0 a 360 -->
                    <!-- afficher nord/sud/est/ouest ou nord/nord est (précision que tu veux) -->
                    <!-- afficher une fleche avec selected-day.component.scss -->
                    <span>Vent</span>
                </div>
                <div class="infos-block-value"></div>
            </div>
        </div>
    </div>
</div>