<div *ngIf="dailyForecast" class="container">
  <div class="upper-data">
    <img class='bg-img' src="../assets/alain.png" alt="background image" />
    <div class="meteo-data">
      <div ng *ngIf="currentLocation && !chosenPlace" class="location">{{ currentLocation.display_name}}
      </div>
      <div ng *ngIf="chosenPlace" class="location">{{chosenPlace.display_name}}
      </div>
      <div *ngIf="currentHourForecast" class="temp">
        {{currentHourForecast.temperature}}°C</div>
      <div *ngIf="currentHourForecast"> ressentie
        {{currentHourForecast.apparentTemperature}}°C</div>
      <div *ngIf="currentHourForecast">
        <img *ngIf="currentHourForecast.icon" src="../../../../../../assets/weather_img/{{currentHourForecast.icon}}"
          alt="Weather Icon">
        {{currentHourForecast.description}} <br>
        {{currentHourForecast.precipitationProbability}} % de chance de précipitation <br>
        {{currentHourForecast.hour}}
      </div>
    </div>
  </div>
  <div class="lower-data">
    <div class="more-infos-container">
      <div class="infos-block">
        <div class="infos-block-label">
          <span>min</span>
        </div>
        <div class="infos-block-value">{{sevenWeatherTempMin[dayIndex]}} °C</div>
      </div>
      <div class="infos-block">
        <div class="infos-block-label">
          <span>max</span>
        </div>
        <div class="infos-block-value">{{sevenWeatherTempMax[dayIndex]}} °C</div>
      </div>
      <div class="infos-block">
        <div class="infos-block-label">
          Humidité
          <span> <i class="fa-solid fa-droplet"></i>&nbsp;:&nbsp;&nbsp;</span>
        </div>
        <div *ngIf="currentHourForecast" class="infos-block-value"> {{currentHourForecast.humidity}}%</div>
      </div>
      <div class="infos-block">
        <div class="infos-block-label">
          Vitesse du vent
          <span> <i class="fa-solid fa-wind"></i> :&nbsp;&nbsp;</span>
          Provenance/Direction
          <span><i class="fa-regular fa-compass"></i>&nbsp;:&nbsp;&nbsp;</span>
        </div>
        <div class="infos-block-value">
          <br>
          <p>{{windspeed_10m[dayIndex]}} km/h</p>
          <i class="fa-solid fa-angles-down" *ngIf="windspeed_10m[dayIndex] > 50"
            [ngStyle]="{'transform': 'rotate(' + winddirection_10m[dayIndex] + 'deg)'}"></i>
          <i class="fa-solid fa-circle-down" *ngIf="windspeed_10m[dayIndex] < 50"
            [ngStyle]="{'transform': 'rotate(' + winddirection_10m[dayIndex] + 'deg)'}"></i>
          <p>
            <span *ngIf="winddirection_10m[dayIndex] >= 0 && winddirection_10m[dayIndex] < 11.25">Nord</span>
            <span
              *ngIf="winddirection_10m[dayIndex] >= 11.25 && winddirection_10m[dayIndex] < 33.75">Nord-Nord-Est</span>
            <span *ngIf="winddirection_10m[dayIndex] >= 33.75 && winddirection_10m[dayIndex] < 56.25">Nord-Est</span>
            <span
              *ngIf="winddirection_10m[dayIndex] >= 56.25 && winddirection_10m[dayIndex] < 78.75">Est-Nord-Est</span>
            <span *ngIf="winddirection_10m[dayIndex] >= 78.75 && winddirection_10m[dayIndex] < 101.25">Est</span>
            <span
              *ngIf="winddirection_10m[dayIndex] >= 101.25 && winddirection_10m[dayIndex] < 123.75">Est-Sud-Est</span>
            <span *ngIf="winddirection_10m[dayIndex] >= 123.75 && winddirection_10m[dayIndex] < 146.25">Sud-Est</span>
            <span
              *ngIf="winddirection_10m[dayIndex] >= 146.25 && winddirection_10m[dayIndex] < 168.75">Sud-Sud-Est</span>
            <span *ngIf="winddirection_10m[dayIndex] >= 168.75 && winddirection_10m[dayIndex] < 191.25">Sud</span>
            <span
              *ngIf="winddirection_10m[dayIndex] >= 191.25 && winddirection_10m[dayIndex] < 213.75">Sud-Sud-Ouest</span>
            <span *ngIf="winddirection_10m[dayIndex] >= 213.75 && winddirection_10m[dayIndex] < 236.25">Sud-Ouest</span>
            <span
              *ngIf="winddirection_10m[dayIndex] >= 236.25 && winddirection_10m[dayIndex] < 258.75">Ouest-Sud-Ouest</span>
            <span *ngIf="winddirection_10m[dayIndex] >= 258.75 && winddirection_10m[dayIndex] < 281.25">Ouest</span>
            <span
              *ngIf="winddirection_10m[dayIndex] >= 281.25 && winddirection_10m[dayIndex] < 303.75">Ouest-Nord-Ouest</span>
            <span
              *ngIf="winddirection_10m[dayIndex] >= 303.75 && winddirection_10m[dayIndex] < 326.25">Nord-Ouest</span>
            <span
              *ngIf="winddirection_10m[dayIndex] >= 326.25 && winddirection_10m[dayIndex] < 348.75">Nord-Nord-Ouest</span>
            <span *ngIf="winddirection_10m[dayIndex] >= 348.75 || winddirection_10m[dayIndex] < 11.25">Nord</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>