<div *ngIf="dailyForecast" class="container">
  <div class="upper-data">
    <img class='bg-img' src="../assets/alain.png" alt="background image" />
    <div class="meteo-data">
      <span ng *ngIf="currentLocation && !chosenPlace" class="location">{{ currentLocation.address.city}}, {{
        currentLocation.address.country}}
      </span>
      <div ng *ngIf="chosenPlace" class="location">{{ chosenPlace.display_name}}
      </div>

      <div *ngIf="currentHourForecast">{{formatDate(dates[dayIndex])}} {{currentHourForecast.hour}}</div>
      <div *ngIf="currentHourForecast" class="temp">
        {{currentHourForecast.temperature}}°C</div>
      <div *ngIf="currentHourForecast"> ressentie
        {{currentHourForecast.apparentTemperature}}°C</div>
      <div *ngIf="currentHourForecast" style="text-align: center;">
        <h3>
          <img *ngIf="currentHourForecast.icon && currentHourForecast.isDay"
            src="../../../../../../assets/weather_img/{{currentHourForecast.icon}}" alt="Weather Icon">
          <img *ngIf="currentHourForecast.icon && !currentHourForecast.isDay"
            src="../../../../../../assets/weather_img/{{currentHourForecast.iconNight}}" alt="Weather Icon">
          {{currentHourForecast.description}}
        </h3>
        {{currentHourForecast.precipitationProbability}} % de chance de pluie
      </div>
    </div>
  </div>
  <div class="lower-data">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="info-block">
            <div class="info-label">Temp min :</div>
            <div class="info-value">{{ sevenWeatherTempMin[dayIndex] }}°C</div>
          </div>
        </div>
        <div class="col">
          <div class="info-block">
            <div class="info-label">Temp max :</div>
            <div class="info-value">{{ sevenWeatherTempMax[dayIndex] }}°C</div>
          </div>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col">
          <div class="info-block">
            <div class="info-label">Humidité :</div>
            <div style="height: 0.6vmax;"></div>
            <div *ngIf="currentHourForecast" class="info-value">
              <i class="fa-solid fa-droplet"></i> :&nbsp;&nbsp;{{ currentHourForecast.humidity }}
            </div>
          </div>
        </div>
        <div class="col">
          <div *ngIf="currentHourForecast" class="info-block-2">
            <div class="info-label vent">Vent :</div>

            <div class="info-value"><i class="fa-solid fa-wind"></i> :&nbsp;&nbsp;<br class="break-line">{{
              currentHourForecast.windSpeed
              }} km/h
            </div>
            <div class="info-direction">
              <i class="fa-regular fa-compass"></i> :&nbsp;&nbsp;
              <i class="fa-solid fa-angles-down" *ngIf="currentHourForecast.windSpeed > 50"
                [ngStyle]="{'transform': 'rotate(' + currentHourForecast.windDirection + 'deg)'}"></i>
              <i class="fa-solid fa-circle-down" *ngIf="currentHourForecast.windSpeed < 50"
                [ngStyle]="{'transform': 'rotate(' + currentHourForecast.windDirection + 'deg)'}"></i>
              <br class="break-line-2">
              <span>
                {{ getWindDirection(currentHourForecast.windDirection) }}
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>