
<div class="container">
  <div class="upper-data">
    <img src="../assets/cold.jpeg" alt="cold" />
    <img src="../assets/sun.jpeg" alt="sun" />
    <div class="meteo-data">
      <div class="location"></div>
      <div class="temp">°C</div>
    </div>
  </div>
  <div class="lower-data">
    <div class="more-infos-label">More informations</div>
    <div class="more-infos-container">
      <div class="infos-block">
        <div class="infos-block-label">
          <img src="../assets/min.png" alt="" />
          <span>min</span>
        </div>
        <div class="infos-block-value">14 °C</div>
      </div>
      <div class="infos-block">
        <div class="infos-block-label">
          <img src="../assets/max.jpeg" alt="" />
          <span>max</span>
        </div>
        <div class="infos-block-value">20 °C</div>
      </div>
      <div class="infos-block">
        <div class="infos-block-label">
          <img src="../assets/humidity.png" alt="" />
          <span>Humidite</span>
        </div>
        <div class="infos-block-value"> %</div>
      </div>
      <div class="infos-block">
        <div class="infos-block-label">
          <img src="../assets/vent.jpeg" alt="" />
          <span>Vent</span>
        </div>
        <div class="infos-block-value"></div>
      </div>
    </div>
  </div>
</div> 

