<app-selected-day [currentLocation]="currentLocation" [chosenLocation]="chosenLocation" [weather]="weather"
    [currentHour]="currentHour" [getDailyForecast]="getDailyForecast"></app-selected-day>

<app-hourly-forecast [currentLocation]="currentLocation" [chosenLocation]="chosenLocation" [weather]="weather"
    [currentHour]="currentHour"></app-hourly-forecast>

<app-seven-days [currentLocation]="currentLocation" [chosenLocation]="chosenLocation" [weather]="weather"
    [getDailyForecast]="getDailyForecast"></app-seven-days>