
.hourly-container{
    margin-top: 2vh;
    width: 95vw;
    background-color: var(--blue2);
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
    padding-bottom: 0.5vmin;
    border-radius: 6px;
}

.card-container {
    display: flex;
    overflow-x: scroll;
    border-radius: 5px;
    border: solid 3px var(--shadow-dark);
    margin: 2vmin;
    padding: 2vmin
}
.row {
    flex-shrink: 0;
}

.card {
    background-color: var(--shadow-light);
    font-size: smaller;
}

.card-body {
    font-size: large;
    text-align: center;
}

label{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2vh;
    font-size: larger;
}

.bg-red{
    background-color: var(--red);
}


.up{
    margin-top: -9vh;
}