<div class="search">
    <form #form="ngForm" (submit)="onSubmit()">
        <input type="text" [placeholder]="placeholderText" (focus)="removePlaceholder()" (blur)="restorePlaceholder()"
            name="city" [(ngModel)]="locationInput"
            [ngClass]="{'bg-blue': !locationFound, 'bg-blue-transparent': locationFound}">
    </form>
</div>
<div class="slideshow">
    <div *ngFor="let photo of photos; let i = index" [class.active]="i === currentIndex"
        [style.background-image]="'url(' + photo.urls.regular + ')'" class="slide"></div>
</div>