:root{
    --blue1: #3c429e;
    --blue2: #4c52ad;
    --shadow-dark: rgba(0,0,0,0.3);
    --shadow-light: rgba(255,255,255,0.1);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    color: white;
    width: 100vw;
    height: 100vh;
    background-color: var(--blue1);
}


// search
.search{
    margin-bottom: 1em;
    text-align: center;
}

.search input{
    background-color: var(--shadow-light);
    outline: none;
    border: none;
    border-radius: 20px;
    padding: 1em;
    color: whitesmoke;
    font-size: 0.8em;
    text-align: center;
}

