:root{
    --blue1: #C5DBE2;
    --blue2: #007981;
    --blue2transparent: rgba(0, 121, 129, 0.8);
    --red: rgba(129, 7, 0, 0.8);
    --shadow-dark: rgba(33, 33, 33, 0.3);
    --shadow-light: rgba(6, 23, 30, 0.7);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    color: white;
    background-color: var(--blue1);
    width: 100vw;
    height: 100vh;
}

.card {
    border-radius: 6px;
    border: none;
};
.container{
    padding-right: 0%;
    padding-left: 0%;
}

.place-not-found {
    position:fixed;
    top: 5vh;
    right: 5vh;
    background-color: #ee2d41;
    border-radius: 0.5rem;
    color: #fff;
    border-color: #ee2d41;
}