<button (click)="getDailyForecast()">get seven days weather</button>

<div *ngIf="dailyForecast" class="row">
    <div class="col" *ngFor="let date of dailyForecast.time; let i = index">
        <div class="card">
            <div class="card-body">
                {{ formatDate(date) }}
                <img src="assets/weather_img/{{ sevenWeatherIcons[i] }}" alt="Weather Icon">
                {{ sevenWeatherDescriptions[i] }} <br> <br>
                Temperature : {{ sevenWeatherTempMin[i] }}°C - {{ sevenWeatherTempMax[i] }}°C <br> <br>
                Temperature ressenties: {{ sevenWeatherApparentTempMin[i] }}°C - {{ sevenWeatherApparentTempMax[i] }}°C
                <br> <br>
                Chances de précipitation: {{ sevenWeatherPrecipitationProbabilityMean[i] }} %
            </div>
        </div>
    </div>
</div>